@model dynamic

<h1>Recipe Details</h1>

<table>
    <tr>
        <td>Name:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>@Model.Source</td>
    </tr>
    <tr>
        <td>Score:</td>
        <td>@Model.Score</td>
    </tr>
    <tr>
        <td>Category:</td>
        <td>@Model.Category</td>
    </tr>
    <tr>
        <td>Last Cooked:</td>
        <td>@Model.LastCooked</td>
    </tr>
    <tr>Guides:</tr>
    
    <tr>
        <td>Guides:</td>
        <td>
            <ul>
                @foreach (var guide in Model.Guides)
                {
                    <il>WrittenGuide:</il>
                    <il>@guide.WritenGuide</il>

                    <il>Total Calories:</il>
                    <il>@guide.TotalCalories</il>
                    @foreach (var ing in guide.Ingredients)
                    {
                        <il>@ing.Name</il>
                    }
                }
            </ul>
        </td>
    </tr>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
