@model IEnumerable<dynamic>
<h1>Data</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Category</th>
            <th>LastCooked</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Score</td>
                <td>@item.Category</td>
                <td>@item.LastCooked</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>